.pinboard-link {
  background:url(bookmark-off.png) no-repeat;
  padding-left:16px;
}

.pinboard-list .pinboard-link {
  background:none;
  padding-left:0;
}

.pinboard-bookmark {
  background-image:url(bookmark-on.png);
}

.pinboard-waiting {
  background-image:url(loading.gif);
}